In [ ]:
# default_exp countrycodes

In [ ]:
# export
import pandas as pd
from fastcore.test import *

In [ ]:
from nbdev.showdoc import *

# Country Codes
> Class `CountryCodes()` to search and convert between `iso` and `fips` country codes.

## Solution to a problem

Joshua Project uses **FIPS** codes (*US Federal Information Processing Standard)* for countries. 

>[FIPS 10-4](https://www.wikiwand.com/en/FIPS_10-4) (April 1995) -- Countries, Dependencies, Areas of Special Sovereignty, and Their
Principal Administrative Divisions. 

However, FIPS 10-4 was [withdrawn by NIST](https://www.nist.gov/system/files/documents/itl/FIPSCodesReplacementChart2015.pdf)  on September 2, 2008 in favor of the international [**ISO 3166** standard](https://www.iso.org/iso-3166-country-codes.html). 

In the meantime, as of Jan 2020 Joshua Project has no plans to switch onto ISO codes, I was notified. *sigh*

Sadly, FIPS in **60%** cases differs from the ISO.

This library provides a `CountryCodes()` class to workaround this discrepancy.

Wherever the library uses the term `iso code`, **ISO 3166 alpha 2** country code is implied as defined here: https://www.iso.org/obp/ui/

In [ ]:
from joshuaproject.countrycodes import *

In [ ]:
# export
class CountryCodes():
    """Returns FIPS and ISO 3166 alpha 2 country codes  for `cname` and converts between."""
    def __init__(self):
        self.data = pd.read_csv('data/country_codes.csv',skiprows=3,names=['cname','FIPS','ISO'])
    
    def __len__(self): 
        """Returns lenth of `data`."""
        return len(self.data)
    
    def __repr__(self): 
        """Returns a `str` representing the `data`."""
        return f'{self.data.to_string(max_rows=None)}'
    
    def head(self,rows=10): 
        """Returns first `rows`."""
        return self.data.head(rows)
    
    def tail(self,rows=10): 
        """Returns last `rows`."""
        return self.data.tail(rows)
    
    def __getitem__(self,idx): 
        """Return `idx`th element of data."""
        return self.data.iloc[idx]
      
    def like(self,cname:str,max:int=None)->list:
        """Returns a list of dict with `max` entries with country name like `cname`."""
        res = self.data[self.data['cname'].str.contains(cname)].to_dict(orient='record')
        if len(res) == 0: return []
        if (max is not None) and (len(res) > max): 
            assert max >0, "CountryCodes().like: `max` argument must be positive or `None`."
            return res[:max]
        return res
    
    def __call__(self,cname:str)->str:
        """Returns `fips` code of `cname`."""
        return self.like(cname,max=1)[0]['FIPS']
    
    def fips(self,cname:str)->str:
        """Returns `fips` code of `cname`."""
        return self.__call__(cname)
    
    def iso(self,cname:str)->str:
        """Returns `iso` code of `cname`."""
        return self.like(cname,max=1)[0]['ISO']
    
    def name(self,cname:str)->str:
        """Returns a `str` of the first of country name like `cname`."""
        return self.like(cname,max=1)[0]['cname']

In [ ]:
show_doc(CountryCodes)

<h2 id="CountryCodes" class="doc_header"><code>class</code> <code>CountryCodes</code><a href="" class="source_link" style="float:right">[source]</a></h2>

> <code>CountryCodes</code>()

Returns FIPS and ISO 3166 alpha 2 country codes  for `cname` and converts between.

In [ ]:
cc = CountryCodes()

In [ ]:
test_eq(len(cc),len(cc.data))
len(cc)

249

In [ ]:
show_doc(CountryCodes.head)

<h4 id="CountryCodes.head" class="doc_header"><code>CountryCodes.head</code><a href="__main__.py#L15" class="source_link" style="float:right">[source]</a></h4>

> <code>CountryCodes.head</code>(**`rows`**=*`10`*)

Returns first `rows`.

In [ ]:
cc.head(5)

            cname FIPS ISO
0     Afghanistan   AF  AF
1   Aland Islands  NaN  AX
2         Albania   AL  AL
3         Algeria   AG  DZ
4  American Samoa   AQ  AS

In [ ]:
cc.data[cc.data.FIPS.isna()]

                                    cname FIPS ISO
1                           Aland Islands  NaN  AX
27       Bonaire, Sint Eustatius and Saba  NaN  BQ
236  United States Minor Outlying Islands  NaN  UM

In [ ]:
show_doc(CountryCodes.tail)

<h4 id="CountryCodes.tail" class="doc_header"><code>CountryCodes.tail</code><a href="__main__.py#L19" class="source_link" style="float:right">[source]</a></h4>

> <code>CountryCodes.tail</code>(**`rows`**=*`10`*)

Returns last `rows`.

In [ ]:
cc.tail(5)

                 cname FIPS ISO
244  Wallis and Futuna   WF  WF
245     Western Sahara   WI  EH
246              Yemen   YM  YE
247             Zambia   ZA  ZM
248           Zimbabwe   ZI  ZW

In [ ]:
show_doc(CountryCodes.__getitem__)

<h4 id="CountryCodes.__getitem__" class="doc_header"><code>CountryCodes.__getitem__</code><a href="__main__.py#L23" class="source_link" style="float:right">[source]</a></h4>

> <code>CountryCodes.__getitem__</code>(**`idx`**)

Return `idx`th element of data.

In [ ]:
cc[101]

cname    Iceland
FIPS          IC
ISO           IS
Name: 101, dtype: object

In [ ]:
test_eq(cc[101].cname, 'Iceland')
test_eq(cc[101].FIPS,'IC')
test_eq(cc[101].ISO, 'IS')

Also supports slicing.

In [ ]:
cc[10:13]

        cname FIPS ISO
10  Argentina   AR  AR
11    Armenia   AM  AM
12      Aruba   AA  AW

In [ ]:
show_doc(CountryCodes.like)

<h4 id="CountryCodes.like" class="doc_header"><code>CountryCodes.like</code><a href="__main__.py#L27" class="source_link" style="float:right">[source]</a></h4>

> <code>CountryCodes.like</code>(**`cname`**:`str`, **`max`**:`int`=*`None`*)

Returns a list of dict with `max` entries with country name like `cname`.

In [ ]:
cc.like('United')

[{'cname': 'Tanzania, United Republic of', 'FIPS': 'TZ', 'ISO': 'TZ'},
 {'cname': 'United Arab Emirates', 'FIPS': 'AE', 'ISO': 'AE'},
 {'cname': 'United Kingdom', 'FIPS': 'UK', 'ISO': 'GB'},
 {'cname': 'United States', 'FIPS': 'US', 'ISO': 'US'},
 {'cname': 'United States Minor Outlying Islands', 'FIPS': nan, 'ISO': 'UM'}]

In [ ]:
test_eq(cc.like('Russia'),[{'cname': 'Russian Federation', 'FIPS': 'RS', 'ISO': 'RU'}])

test_eq(cc.like('United',2),
        [{'cname': 'Tanzania, United Republic of', 'FIPS': 'TZ', 'ISO': 'TZ'},
         {'cname': 'United Arab Emirates', 'FIPS': 'AE', 'ISO': 'AE'}])

test_eq(cc.like('Non-existing'),[])

In [ ]:
show_doc(CountryCodes.iso)

<h4 id="CountryCodes.iso" class="doc_header"><code>CountryCodes.iso</code><a href="__main__.py#L44" class="source_link" style="float:right">[source]</a></h4>

> <code>CountryCodes.iso</code>(**`cname`**:`str`)

Returns `iso` code of `cname`.

In [ ]:
test_eq(cc.iso('Russia'),'RU')

In [ ]:
show_doc(CountryCodes.fips)

<h4 id="CountryCodes.fips" class="doc_header"><code>CountryCodes.fips</code><a href="__main__.py#L40" class="source_link" style="float:right">[source]</a></h4>

> <code>CountryCodes.fips</code>(**`cname`**:`str`)

Returns `fips` code of `cname`.

Note that two forms of calls are possible:

In [ ]:
test_eq(cc.fips('Russia'),'RS')
test_eq(cc('Russia'),'RS')

## Export -

In [ ]:
#hide
from nbdev.export import notebook2script
notebook2script()

Converted 00_url.ipynb.
Converted 01_countrycodes.ipynb.
Converted index.ipynb.